<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Musicool Login</title>



    <link rel="stylesheet" href="{{url_for('static',filename='css/style_login.css')}}" media="screen" type="text/css" />

</head>

<body>

  <section class="section2">
  <span></span>
  <h1>Member Login</h1>
  <form>
    <input placeholder='이메일을 입력하세요' type='text'>
    <input placeholder='패스워드를 입력하세요' type='password'>
  </form>
  <button>LOGIN</button>
  <h2>
    <a href='#'>패스워드를 다시 입력해주세요</a>
  </h2>
  
 <div style="float:right;">
  <p style="color:white;"> 회원이 아니세요? </p>
  <button class='button3'> Register On Musicool </button>
</div>
</section>

</body>

</html>