<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Musicool 회원가입</title>



    <link rel="stylesheet" href="{{url_for('static',filename='css/style_login.css')}}" type="text/css" />

</head>

<body>

  <section>
  <span></span>
  <h1> Register on Musicool </h1>
  <form>
    <input placeholder='닉네임을 입력하세요' type='text'>
    <input placeholder='이메일을 입력하세요' type='text'>
    <input placeholder='패스워드를 입력하세요' type='password'>
    <input placeholder='패스워드를 다시 한 번 입력하세요' type='password'>
  </form>
  <button>Sign up</button>
  <h2>
    <a href='#'>이메일을 다시 입력해주세요</a>
  </h2>
</br>
 <div style="float:right;">
  <p style="color:white;"> Already Member? </p>
  <button class='button2'> Login </button>
</div>
</section>

</body>

</html>