
 <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{url_for('show_home')}}">Musicool.Com</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{{url_for('show_home')}}" title ="Musicool 홈">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact" target="_blank">Make Music</a></li> <!-- make music new window -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">커뮤니티</a></li>
                    <li><a href="#" >뉴스</a></li>
                    <li><a href="#">이달의 작곡왕</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">고객 센터</li>
                    <li><a href="#">QnA</a></li>
                    <li><a href="#">관련사이트</a></li>
                  </ul>
                </li>
              </ul>
                              <ul class="nav navbar-nav" style="float:right;">
                  {% if g.user_email==None %}<li class='login_link'><a href="{{url_for('login')}}" >로그인</a></li>
                  <li class='login_link'><a href="{{url_for('user_join')}}">회원가입</a></li>
                  {% else %}
                    <li class='login_link'><a href="#">{{g.user_nick}}</a>님 안녕하세요! </li>
                    <li class="login_link"><a href="{{url_for('log_out')}}">로그아웃</a></li>
                  {%endif%}
                </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
